* {
    font-family: Inter, sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 42, 48);
    height: 100vh;
}

.logo img {
    background-color: #FFFFFF;
    width: 400px;
    height: 328px;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2e3238;
}

.login-container h1 {
    color: #FFFFFF;
    margin-left: 100px;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-container label {
    color: #8c7356;
}

.login-container input {
    width: 500px;
    background: none;
}

.group {
    position: relative;
    margin-bottom: 45px;
    margin-left: 100px;
    border: 1px solid #4a4747;
    border-radius: 5px;
    width: fit-content;
}

input {
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label
{
    top: -20px;
    font-size: 14px;
    color: #8c7356;
}

input:not(:blank)~label {
    top: -20px;
    font-size: 14px;
    color: #8c7356;
}

.register {
    font-size: 22px;
    display: flex;
    position: relative;
    right: 148px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.register a {
    color: #8c7356;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit input {
    font-weight: 600;
    color:#000000;
    background-color: #fbbe70;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
}