<template>
    <div class="categories">
        <div class="row">
            <div class="col-12" v-for="category in categories">
                <h1>{{ category }}</h1>
            </div>
        </div>
    </div>
    <div class="posts">
        <div class="row">
            <h1>POST LIST</h1>
        </div>
        <div class="row">
            <div class="col-6" v-for="post in posts">{{ message }}</div>
            <div class="col-6" v-for="post in posts">{{ message }}</div>
        </div>
        <div class="button-page">
            <button @click="previousPage" :disabled="currentPage === 1">
                <i class="fas fa-chevron-left"></i>
                Prev
            </button>
            <span>{{ currentPage }}</span>
            <button @click="nextPage" :disabled="posts.length === 0">
                Next
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: 'Hello',
            categories: [],
            posts: [],
            currentPage: 1,
        }
    },
    mounted() {
        this.getCategories()
        this.getPosts()
    },
    methods: {
        async getCategories() {
            this.$http.get('/api/v1/categories')
                .then(response => {
                    this.categories = response.data
                })
                .catch(error => {
                    console.error(error)
                })
        },
        async getPosts() {
            const pageSize = 10
            this.$http.get('api/v1/posts')
                .then(response => {
                    this.posts = response.data
                    this.posts = this.posts.slice(pageSize * (this.currentPage - 1), pageSize * this.currentPage)
                })
                .catch(error => {
                    console.error(error)
                })
        },
        previousPage() {
            if (this.currentPage > 1) {
                this.currentPage--;
                this.getPosts();
            }
        },
        nextPage() {
            if (this.posts.length > 0) {
                this.currentPage++;
                this.getPosts();
            }
        }
    }
}
</script>

<style scoped>
* {
    font-family: Inter, sans-serif;
}

.categories {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #272a30;
}

.posts {
    position: relative;
    background-color: #202327;
}

.posts h1 {
    margin-top: 50px;
    margin-left: 60px;
    color: #7a7d81;
}

.button-page {
    display: flex;
    justify-content: center;
}

.button-page button {
    width: 120px;
    height: 50px;
    color: #FFFFFF;
}
.button-page button:hover {
    cursor: pointer;
}
</style>
